.button{
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 10px 20px;
    border: 2px solid var(--color-white);
    font-size: var(--text-medium);
    cursor: pointer;
}