.sliderButton {
  width: 90.61px;
  height: 90.61px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left {
  background-color: var(--color-white);
}

.right {
  background-color: var(--color-golden);
  img {
    rotate: 180deg;
  }
}
