:root {
  /* Global variables to be defined here */
  --color-white: #ffffff;
  --color-black: #111111;
  --color-black-2: #373737;
  --color-black-light: #1d1d1d;
  --color-black-highlight: #2e2e2e;
  --color-golden: #E3B748;

  /* define font size */
  --text-xxx-large: 32px;
  --text-xx-large: 24px;
  --text-x-large:20px;
  --text-large: 18px;
  --text-medium: 16px;
  --text-small: 14px;
  --text-x-small: 12px;
  --text-xx-small: 10px;
  --text-size-hero: 66px;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: var(--color-black-light);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

button:hover{
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}